 <nav style="position:absolute;right:5%; top:10px;">
   <ul>
     <li (click)="goInfo()">{{infom.userName}}</li>
     <li *ngIf="infom.userName!='游客'" (click)="goInfog()">修改信息</li>
     <li (click)="goLogin()">{{bian}}</li>
   </ul>
 </nav><label>{{ id }}</label>
  <div id="searchinput" >
    <img id="logo" src="../assets/tjulog.jpg" alt="timg2" class="img">
    <input type="text" name="email" />
    <button (click)="show()" type="submit" >全吧搜索</button>
  </div>
 <div class="marginleft">
   <div id="div1" >
     <div id="div2">
       <div class="box" style="background:url(../assets/img/xuexi.jpg); height:240px; width:240px;">
         <div class="footer">
           <div class="span1" (click)="goToTest()">学习</div>
         </div>
       </div>

       <div class="box" style="background:url(../assets/img/yd.jpg); height:240px; width:240px;">
         <div class="footer">
           <div class="span1"  >运动</div>
         </div>
       </div>

       <div class="box" style="background:url(../assets/img/yy.jpg); height:240px; width:240px;">
         <div class="footer">
           <div class="span1">音乐</div>
         </div>
       </div>
       <div class="box" >
         <div class="footer">
           <div class="span1">影视</div>
         </div>
       </div>

       <div class="box" >
         <div class="footer">
           <div class="span1">游戏</div>
         </div>
       </div>

       <div class="box" >
         <div class="footer">
           <div class="span1">交往</div>
         </div>
       </div>

       <div class="box" >
         <div class="footer">
           <div class="span1">明星</div>
         </div>
       </div>

       <div class="box" >
         <div class="footer">
           <div class="span1">旅游</div>
         </div>
       </div>
     </div>

   </div>
   <div >
     <div *ngFor="let post of tieji" class="list" >
     <label class=""> {{post.poName}}</label>
     <p >
     {{post.poThing}}
     </p>
     <label class="">——发帖人：{{post.poUserName}}  发帖时间：{{post.poDate|date:"MM/dd/yy"}}</label>

     </div>
     <!--<div _ngcontent-c1="" class="list">-->
       <!--<label _ngcontent-c1="" class=""> 帖子1</label>-->
       <!--<p _ngcontent-c1="">-->
         <!--帖子1描述-->
       <!--</p >-->
       <!--<label _ngcontent-c1="" class="">——发帖人：ceshi  发帖时间：1514134208000</label>-->

     <!--</div>-->



   </div>
 </div>


