.person1{
  border:3px solid slategray;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 700px;
  top: 170px;
  border-radius: 3px;

}
.person2{
  position: absolute;
  left: 40%;
  top: 213px;
  font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
  font-size: 18px;
  color: #014b88;
}
.person3{
  position:absolute;
  bottom:0px;
  padding:0px;
  margin:0px;
  right:0;
}
.person4 {

  position: relative;
  display: inline-block;
  font-family: STHeiti, "Microsoft Yahei", "Microsoft YaHei", Arial, sans-serif;
  font-size: 18px;
  color: #005097;
}

.person5{
  position: absolute;
  top: 325px;
  margin-left: 10%;
  width: 1200px;
  height: 800px;
  border: 1px solid lightslategrey;
  border-color: #ffffff;


}
.person6{
  left: 0%;
  top: 140px;
  height:40px;
  position: relative;
  float: left;
  padding: 7px 14px;
  font-size: 25px;
  line-height: normal!important;
  background: #FFFFFF;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  font-style: italic;
}

.person66{
  left: 20%;
  top: 60px;
  height:40px;
  position: relative;
  float: left;
  padding: 7px 14px;
  font-size: 25px;
  line-height: normal!important;
  background: #FFFFFF;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  font-style: italic;
}

.delete{
  background-color: #014b88;
  border-radius: 5px;
  left: 30%;
  position: absolute;
  width: 60px;
  height: 30px;
}
.person7{
  left: 75%;
  top: 67px;
  position: relative;
  float: left;
  padding: 7px 14px;
  font-size: 12px;
  line-height: normal!important;
  color: #fff;
  background: #014b88;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
}
.img2{
  position:absolute;
  height:100px;
  width:120px;
  left:500px;
  top:70px;
  cursor: pointer;
}
.button{
  display: inline-block;
  /*padding: 23px 63px;*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #014b88;
  color: white;
  float:right;
  font-family: "Microsoft Yahei" ;
  font-size: 18px;
  line-height:25px;
  letter-spacing:1px;
  border-radius: 5px;
  position: absolute;
  top: 93px;
  width: 150px;
  height: 40px;
  left: 1100px;
  cursor: pointer;

}
.button2{
  position:absolute;

  padding:0px;
  margin:0px;
  right:0;
}
.person8{
  position: absolute;
  top: 550px;
  margin-left: 25%;
  margin-right: 25%;
  width: 920px;
  height: 1000px;
}
.badge{
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #014b88;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  overflow:hidden;
  height: 2em;
  width: 100px;
  white-space:normal;

  border-radius: 4px 0 0 4px;
  margin: 0 15px 0 0 ;
}
.person9{
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 0px 0px 0 0px;
  padding: .3em 0;
  height: 2.5em;
  border-radius: 4px;
  list-style: none;
  overflow: hidden;
  word-wrap: break-word;
}
.person10{

  float: right;
}
#wrap{white-space:normal; width:200px; }
