.button{
  position: relative;
  top: 40%;
  left: 45%;
  float: left;
  padding: 7px 14px;
  font-size: 12px;
  line-height: normal!important;
  color: #fff;
  background: #014b88;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  text-decoration: none;
}
.study1{
  border: 1px solid #014b88;
  height: 300px;
  width: 100%;
  resize:none;
  font-size: 14px;
  margin-top: 20px;

}
.study-input{
  width: 100%;
  height: 30px;
  border: 1px solid #014b88;
  /*left: 20%;*/
  placeholoder:'请填写标题';

}
.study2{
  margin-top: 20px ;
  margin-bottom:20px ;

}
.study33{
  padding-left: 37%;
}
.study3{
  float: left;
  padding: 7px 14px;
  font-size: 12px;
  line-height: normal!important;
  color: #fff;
  background: #014b88;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  text-decoration: none;
}
.study4{
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.study5{
  float: left;
  padding: 7px 14px;
  font-size: 12px;
  line-height: normal!important;
  color: #fff;
  background: #014b88;
  border-bottom-color: #2b71d9;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
  text-decoration: none;
  margin-left: 50px;
}
#point{
  cursor: pointer;
}
.post{
  float: left;
  width: 920px;
  height: 100px;
  border-top: 2px solid #014b88;
  border-bottom: 0px solid deepskyblue;
  border-left: 0px solid white ;
  border-right: 0px solid white;
}
.postcontent{
  height: 50px;
}
.postend{
  float: right;
}
.nomargin{
  margin: 0;
}
.posttitle{
  display: inline-block;
  font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
  font-size: 18px;
  color: #014b88;
}
