<style type="text/css">
  body,td,th {
    font-family: "宋体";
    font-size: 18px;
    color: #000;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }


</style>


<table align="center"><img src="../assets/img/top.jpg" width="1026" height="121"  border="0" /></table>
<div *ngIf="flag">
  <div >
    <div *ngFor="let post of tieji" class="post" (click)="goDetailbyId(post.poId.toString())">
      <label class="posttitle" > {{post.poName}}</label>
      <p class="postcontent">
        {{post.poThing}}
      </p>
      <label class="postend">——发帖人：{{post.poUserName}}  发帖时间：{{post.poDate|date:'short'}}</label>

    </div>
  </div>
  <br>
  <button (click)="onSelect()" class="button"  >发帖</button>
</div>


<div *ngIf="!flag" class="study4">

  <div class="study2">
    <input [(ngModel)]="tieName" placeholder="请填写标题" class="study-input"/>
  </div>

  <textarea [(ngModel)]="tieThing" placeholder="请填写内容" class="study1"></textarea>
  <div class="study33"><br><button class="study3" (click)="onSelect()" >发表</button>&nbsp;&nbsp;&nbsp; <button class="study5" (click)="back()">返回</button>
  </div>
</div>


