.someclass {
  border-top-color : #F7FFEC;
  border-right-color : transparent;
  border-color : #C8C8FF;
  border-width : 1px;
  width : 40px;
  height : 10px;
  display : block;
  visibility : visible;
  cursor : pointer;
  margin : 20px;
  border-style : groove;
  position : absolute;
  top : 40%;
  right : 60%;
  z-index : 1;
}
.marginleft{
  margin-left: 20%!important;
}
.nomargin{
  margin: 0;
}
.post{
  float: left;
  width: 920px;
  height: 100px;
  border-top: 2px solid #014b88;
  border-bottom: 0px solid deepskyblue;
  border-left: 0px solid white ;
  border-right: 0px solid white;
}
.postcontent{
  height: 50px;
}
.postend{
  float: right;
}
.posttitle{
  display: inline-block;
  font-family: STHeiti,"Microsoft Yahei","Microsoft YaHei",Arial,sans-serif;
  font-size: 18px;
  color: #014b88;
}
.paddingbottom-l{
  padding-bottom: 40px!important;
}
